<div class="users edit">
  <h1>Update Users</h1>

<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>

<table summary="User form fields" class='table table-striped table-hover'>
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
</table>


<%= submit_tag("Update User" , :class => "btn btn-default" ) %>

<%end %>

</div>