
<% if !flash[:notice].blank? %>
<div class="alert alert-dismissable alert-success">
<%= flash[:notice] %>
<% end %>
</div>

<h1>Home Page</h1>

<br>

<h1> Top Downloads</h1>

<table class='table table-striped table-hover'>
<% unless @uploads.nil? %>
<% @uploads.each do |upload| %>
    <tr>
      <td><%= upload.doc_file_name %></td>
      <td class="center"><%= upload.doc_content_type %></td>
    </tr>
    <% end %>

<% end %>
</table>

<% if session[:user_id]!=nil %>

<%= link_to(" Go to Index", {:action => 'index'}, :class => "btn btn-default" ) %>

<% end %>

<% if session[:user_id]==nil %>

<br><h2>User Login here</h2>

<%= form_for(:user, :url => {:action => 'attempt_login'}) do |f| %>

<table summary="User login field">
  <tr>
    <th><%= f.label(:username) %></th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th><%= f.label(:password) %></th>
    <td><%= f.password_field(:password) %></td>
  </tr>
</table>

<%= submit_tag("Login", class:"btn btn-default") %>

<br><h2>No ID? Sign Up!</h2>

<%= link_to(" Sign Up", {:action => 'new', :controller => 'users'}, :class => "btn btn-default" ) %>

<% end %>

<% end %>
