<div class="uploads index">
  <h2>Uploads</h2>

  <table class="table table-striped table-hover" summary="Upload list">
    <tr class="header">
      <th>File name</th>
      <th>File Type</th>
    </tr>
    <% @uploads.each do |upload| %>
    <tr>
      <td><%= upload.doc_file_name %></td>
      <td class="center"><%= upload.doc_content_type %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show' , :id => upload.id}, :class => 'action show') %>
        <% if upload.user_id == session[:user_id] %>
          <%= link_to("Delete", {:action => 'delete' , :id => upload.id}, :class => 'action delete') %>
          <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= link_to("Upload File", {:action => 'new', :controller => 'uploads'}) %>
  <br>
  <br>
  <br>
  <br>
  <%= link_to("Logout", :action => 'logout') %>
</div>
